<a href="https://colab.research.google.com/github/dtoralg/IE_Calidad_ML/blob/main/Ejercicios/Modulo%202/Modulo_2_Ejercicio_1_Resuelto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicio 1: Importación y Exploración Básica de Datos

## Objetivo
En este ejercicio, aprenderás a:
- Importar un dataset online usando Pandas.
- Visualizar las primeras filas del dataset.
- Revisar las columnas y los tipos de datos.
- Calcular el número total de filas del dataset.

Utilizaremos el dataset **Titanic** (en formato CSV) que se encuentra en GitHub. Este dataset contiene información sobre los pasajeros del Titanic y es ampliamente utilizado en proyectos de análisis y Machine Learning.

**URL del dataset:**  
`https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv`

> **Pregunta:** ¿Qué diferencias encuentras en la estructura del dataset cuando lo cargas en un DataFrame?  
> *Reflexiona sobre la cantidad de columnas, el tipo de datos y qué información te podría resultar útil para un análisis posterior.*

¡Vamos a empezar!

In [3]:
# Paso 1: Importa las librerías necesarias

# TODO: Importa la librería pandas y, si lo consideras útil, matplotlib o seaborn para visualizaciones.
import pandas as pd

# (Opcional) Importa matplotlib para futuras visualizaciones
import matplotlib.pyplot as plt

In [4]:
# Paso 2: Carga el dataset Titanic desde la URL proporcionada

# Define la URL del dataset
url_titanic = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"

# TODO: Utiliza pd.read_csv() para cargar el dataset y almacénalo en un DataFrame llamado 'df_titanic'
df_titanic = pd.read_csv(url_titanic)

# Visualiza las primeras filas para comprobar la carga
print("Primeras filas del dataset Titanic:")
display(df_titanic.head())

Primeras filas del dataset Titanic:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# Paso 3: Explora la estructura del dataset

# TODO: Muestra la lista de columnas y el tipo de datos de cada columna usando df_titanic.dtypes
print("Columnas y tipos de datos en el dataset:")
print(df_titanic.dtypes)

# (Opcional) Utiliza df_titanic.info() para ver información general del DataFrame
print("Información general del dataset:")
display(df_titanic.info())

In [ ]:
# Paso 4: Calcula el número total de filas del dataset

# TODO: Crea una variable llamada 'num_rows' que contenga el número total de filas del DataFrame 'df_titanic'
num_rows = df_titanic.shape[0]  # Por ejemplo, usando .shape

# Muestra el número de filas
print("Número total de filas en el dataset Titanic:", num_rows)

In [ ]:
# Paso 5: Testeo de la solución

# Este bloque de código verifica que el número de filas calculado sea el esperado.
# El dataset Titanic (entrenamiento) tiene 891 filas.
expected_rows = 891

# Check: Ejecuta esta celda para asegurarte de que la variable 'num_rows' esté definida y tenga el valor correcto.
assert num_rows == expected_rows, f"Test fallido: Se esperaban {expected_rows} filas, pero se encontraron {num_rows}."
print("Test exitoso: El número total de filas es correcto.")

In [ ]:
## Reflexión Final

1. ¿Qué diferencias notaste entre cargar un dataset en CSV y trabajar con el DataFrame resultante en Pandas?
2. ¿Qué información consideras esencial de este dataset para futuros análisis o modelos predictivos?
3. ¿Cómo podrías utilizar la información de df_titanic para realizar un análisis exploratorio más profundo?

_Responde en un comentario o en una celda Markdown adicional._